@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div style="text-align:center">
    <div class="container">
        <div class="jumbotron">
            <h1>@ViewData["Title"]</h1>
            <p>
                A Simple Book keeping application
            </p>
        </div>
        <p>Helps Keep tabs of all your books</p>
        <p>Implemented using ASP Razor Pages.</p>
    </div>
</div>
